<h5>Average rating from results: <%= average %></h5>

<div class="list-group">

  <% reviews.each do |r| %>

    <div class="list-group-item">
      <h5 class="list-group-item-header"><%= r[:rating] %></h5>
      <p class="list-group-item-text"><%= r[:text] %></p>
    </div>

  <% end %>

</div>