<% businesses.each do |business| %>

  <div class="list-group-item">
    <h5 class="list-group-item-header"><%= link_to business.name, "/reviews/#{business.id}", data: { modal: true } %></h5>

    <div class="list-group-item-text">
      <span class="">Yelp Rating: <%= business.rating %> &middot; Review Count: <%= business.review_count %></span>
    </div>
  </div>

<% end %>