<div class="row">
  <div class="col-lg-12">

  <br>

  <%= simple_form_for :search, url: "/search", method: :get, remote: true do |f| %>
    <%= f.input :query, label: "Search pizza restaurants by name" %>
    <%= f.submit "Search" %>
  <% end %>

  </div>
  
</div>

<br>

<div id="ajax-loader" style="display: none"><img src="<%= asset_url 'ajax-loader.gif' %>"></div>

<div class="row">
  <div class="col-lg-12">
    <br>
    <div id="search-results" class="list-group"></div>
  </div>
</div>