<% content_for :title, "Reviews" %>

<%= simple_form_for :search, url: "/refresh_reviews/#{@business_id}", method: :get, remote: true do |f| %>
  <%= f.input :limit, as: :select, collection: (1..10).to_a, selected: 10, label: "Number of results" %>
  <%= f.submit "Search" %>
<% end %>

<br>
<div id="review-results">
  <%= render 'reviews', reviews: @reviews, average: @rating_average %>
</div>