<div class="modal fade" id="mainModal" tabindex="-1" role="dialog" aria-labelledby="mainModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        
        <h4 class="modal-title" id="mainModalLabel">
          <span style="padding-right: 10px; float: left;"><%= yield :title %></span>
          <div id="ajax-loader-modal" style="display: none"><img src="<%= asset_url 'ajax-loader.gif' %>"></div>
        </h4>
      </div>

      <div class="modal-body">
        <%= yield %>
      </div>
    </div>
  </div>
</div>